<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Remote Lab Sensors login page">
    <meta name="author" content="Miller Wilt">

    <title>Remote Lab Sensors</title>

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/toastr.min.css">
    <link rel="stylesheet" href="/css/auth.css">

    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.3.0/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

    <script type="text/x-handlebars">
    <div id="wrap">

      <!-- Static navbar -->
      <div class="navbar navbar-default navbar-static-top" role="navigation">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
              <span class="sr-only">Toggle navigation</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            {{#link-to 'signin' class="navbar-brand"}}Remote Lab Sensors{{/link-to}}
          </div>
          <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
              {{#view App.NavView}}
                {{#link-to 'signin'}}Sign in{{/link-to}}
              {{/view}}
              {{#view App.NavView}}
                {{#link-to 'register'}}Register{{/link-to}}
              {{/view}}
            </ul>
          </div><!--/.nav-collapse -->
        </div>
      </div>

      <div class="container">
        <section>
          {{outlet}}
        </section>

      </div> <!-- /container -->
    </div>
    <footer>
      <div class="container">
        <div id="copyright">
          <p>&copy; Aperture-Mesa 2014</p>
        </div>
      </div> <!-- container -->
    </footer>
    </script>

    <script type="text/x-handlebars" data-template-name="signin">
      <%- include outlets/signin %>
    </script>

    <script type="text/x-handlebars" data-template-name="register">
      <%- include outlets/register %>
    </script>

    <!-- Required JS Libraries -->
    <script src="/js/lib/jquery-1.11.0.min.js"></script>
    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/handlebars-v1.3.0.js"></script>
    <script src="/js/lib/toastr.min.js"></script>
    <script src="/js/lib/ember.js"></script>
    <script src="/js/lib/ember-data.js"></script>
    <script src="/js/lib/notifications.js"></script>
    <script src="/js/lib/validator.min.js"></script>
    <!-- Start application -->
    <script src="/js/auth.js"></script>
    <script src="/js/controllers/signin-controller.js"></script>
    <script src="/js/controllers/register-controller.js"></script>
    <script src="/js/views/nav-view.js"></script>
  </body>
</html>