<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Remote Lab Sensors login page">
    <meta name="author" content="Miller Wilt">

    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/toastr.min.css">
    <link rel="stylesheet" href="//releases.flowplayer.org/5.4.6/skin/minimalist.css">

    <script src="/js/lib/jquery-1.11.0.min.js"></script>
    <script src="//releases.flowplayer.org/5.4.6/flowplayer.min.js"></script>
  </head>
  <body>
    <script type="text/x-handlebars">
      <div class="flowplayer"
         data-engine="flash"
         data-rtmp="rtmp://s3b78u0kbtx79q.cloudfront.net/cfx/st"
         data-ratio="0.4167">
       
         <video autoplay>
      <source type="video/webm" src="http://stream.flowplayer.org/bauhaus/624x260.webm">
      <source type="video/mp4"  src="http://stream.flowplayer.org/bauhaus/624x260.mp4">
      <source type="video/ogg"  src="http://stream.flowplayer.org/bauhaus/624x260.ogv">
      <source type="video/flash" src="mp4:bauhaus/624x260">
         </video>
       
      </div>
    </script>

    <script src="/js/lib/bootstrap.min.js"></script>
    <script src="/js/lib/toastr.min.js"></script>
    <script src="/js/lib/handlebars-v1.3.0.js"></script>
    <script src="/js/lib/ember-canary.js"></script>
    <script src="/js/lib/ember-data-canary.js"></script>
    <script>
      window.Test = Ember.Application.create();
    </script>
  </body>
</html>