/* Start application CSS */

html,
body,
body > .ember-view {
  height: 100%;
}

#wrap {
  min-height: 100%;
  height: auto;
  margin: 0 auto -60px;
  padding: 0 0 60px;
}

footer {
  height: 60px;
}

#copyright {
  border-top: 1px solid #e5e5e5;
}

#copyright p {
  margin-top: 20px;
}

@media (min-width: 768px) and (max-width: 991px) {
  section {
    padding-left: 50px;
    padding-right: 50px;
  }
}

@media (min-width: 992px) {
  section {
    padding-left: 100px;
    padding-right: 100px;
  }
}

section h1 {
  margin-bottom: 20px;
}

/* End application CSS */

/* Start #experiment CSS */

#btns {
  margin-bottom: 20px;
}

/* End #experiment CSS */

/* Start #sensors CSS */

#readings {
  margin-top: 20px;
}

.flowplayer {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .center {
    text-align: center;
  }

  .right {
    text-align: right;
  }
}

/* End #sensors CSS */

/* Start #archive CSS */

.parent {
  display: table;
}

.child {
  display: table-cell;
}

.pager-btn {
  margin-bottom: 20px;
}

#right-col {
  width: 100%;
}

/* End #archive CSS */

/* Start #register CSS */

#register {
  margin-bottom: 20px;
}

/* End #register CSS */

/* Start #signin CSS */

#signin {
  margin-bottom: 20px;
}

/* End #signin CSS */