<h1>Account Settings <small>for {{username}}</small></h1>
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Contact Information</h3>
  </div>
  <div class="panel-body">
    <p>
      Contact information is used for experiment alerts.
      You can remove your information by submitting empty forms.
    </p>
    <form role="form" {{action saveContact on="submit"}}>
      <div class="form-group">
        <label class="control-label">Email</label>
        {{input value=email type="email" class="form-control" placeholder="email@example.com"}}
      </div>
      <div class="form-group">
        <label class="control-label">Cell</label>
        {{input value=cellphone class="form-control" placeholder="123-123-1234"}}
      </div>
      <div class="form-group">
        <label class="control-label">
          Carrier
        </label>
        {{view Ember.Select class="form-control" content=carriers value=carrier}}
      </div>
      {{input class="btn btn-success" type="submit" value="Update"}}
    </form>
  </div> <!-- panel-body -->
</div> <!-- panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Change Password</h3>
  </div>
  <div class="panel-body">
    <form role="form" {{action savePassword on="submit"}}>
      <div class="form-group" {{bind-attr class="failed:has-error"}}>
        <label class="control-label">
          Old Password
        </label>
        {{input value=oldPassword type="password" class="form-control" placeholder="Your old password" required="required"}}
      </div>
      <div class="form-group" {{bind-attr class="invalid:has-error"}}>
        <label class="control-label">
          New Password
        </label>
        {{input value=newPassword type="password" class="form-control" placeholder="Your new password" required="required"}}
      </div>
      <div class="form-group" {{bind-attr class="invalid:has-error"}}>
        <label class="control-label">
          Confirm New Password
        </label>
        {{input value=confirmPassword type="password" class="form-control" placeholder="Confirm new password" required="required"}}
      </div>
      {{input class="btn btn-success" type="submit" value="Update"}}
    </form>
  </div>
</div> <!-- panel -->
<div class="panel panel-default">
  <div class="panel-heading">
    <h3 class="panel-title">Delete Account</h3>
  </div>
  <div class="panel-body">
    <p>Delete your account and all data related to it. There is no means of recovery.</p>
    <form id="delete-form" {{action deleteAccount on="submit"}}>
      <div class="form-group">
        <label class="control-label">
          Password
        </label>
        {{input value=password type="password" class="form-control" placeholder="Your password" required="required"}}
      </div>
      {{input class="btn btn-danger" type="submit" value="Delete"}}
    </form>
  </div>
</div> <!-- panel -->