<div class="parent">
  <div class="child" id="left-col">
    <h1>Archive</h1>
  </div>
  <div class="child" id="right-col">
    <div class="text-right">
      {{#link-to 'archive' (query-params page=prevPage) class="btn btn-default btn-sm pager-btn" role="button" classBinding="atBeginning:disabled"}}
      &larr;
      {{/link-to}}
      {{#link-to 'archive' (query-params page=nextPage) class="btn btn-default btn-sm pager-btn" role="button" classBinding="atEnd:disabled"}}
      &rarr;
      {{/link-to}}
    </div>
  </div>
</div>
<div class="list-group">
  {{#each}}
    {{#if id}}
      {{#link-to "record" id class="list-group-item"}}
        <h4 class="list-group-item-heading">Name: {{name}}</h4>
        <p class="list-group-item-text">Start: {{format-date start}}</p>
        {{#if stop}}
          <p class="list-group-item-text">Stop: {{format-date stop}}</p>
        {{else}}
          <p class="list-group-item-text"><strong>Still running</strong></p>
        {{/if}}
      {{/link-to}}
    {{/if}}
  {{/each}}
</div>