<h1>Create an Experiment</h1>
<h3>Basic Setup</h3>
<form role="form" id="basic">
  <div class="form-group" {{bind-attr class="nameError:has-error"}}>
    <label class="control-label">Experiment Name</label>
    {{input value=name class="form-control" placeholder="Awesome name" disabled=controllers.application.owner}}
    {{#if nameError}}
      <span class="help-block">
        <small>{{nameErrorMsg}}</small>
      </span>
    {{/if}}
  </div>
  <div class="form-group" {{bind-attr class="rateError:has-error"}}>
    <label class="control-label">Collection Rate (seconds)</label>
    {{view App.NumberField value=rate class="form-control" required="required" min="1"}}
    {{#if rateError}}
      <span class="help-block">
        <small>{{rateErrorMsg}}</small>
      </span>
    {{/if}}
  </div>
  <div class="form-group">
    <label class="control-label">Description (optional)</label>
    {{textarea value=description class="form-control" rows="4"}}
  </div>
  <label class="control-label">Alert Contact Method</label>
  <div class="form-group">
    <label class="radio-inline">
      {{view App.RadioButton value="none" name="contact" selectionBinding="contact"}} None
    </label>
    <label class="radio-inline">
      {{view App.RadioButton value="email" name="contact" selectionBinding="contact"}} Email
    </label>
    <label class="radio-inline">
      {{view App.RadioButton value="text" name="contact" selectionBinding="contact"}} Text
    </label>
    <label class="radio-inline">
      {{view App.RadioButton value="both" name="contact" selectionBinding="contact"}} Both
    </label>
  </div>
  <div class="checkbox">
    <label>
      {{input type="checkbox" checked=private}} Private experiment
    </label>
  </div>
  <h3>Sensor Setup</h3>
  <h4>Gas Temperature Sensor</h4>
  <label class="checkbox-inline">
    {{input type="checkbox" checked=gas.save}} Save Readings
  </label>
  <label class="checkbox-inline">
    {{input type="checkbox" checked=gas.bound}} Use Bounds
  </label>
  <label class="checkbox-inline">
    {{input type="checkbox" checked=gas.auto disabled=noGasBound}} Auto Cancel
  </label>
  <div class="form-group" {{bind-attr class="badGBLower:has-error"}}>
    <label class="control-label">Lower Bound</label>
    {{view App.NumberField value=gas.lower class="form-control" disabled=noGasBound}}
    {{#if badGBLower}}
      <span class="help-block">
        <small>{{badGBLowerMsg}}</small>
      </span>
    {{/if}}
  </div>
  <div class="form-group" {{bind-attr class="badGBUpper:has-error"}}>
    <label class="control-label">Upper Bound</label>
    {{view App.NumberField value=gas.upper class="form-control" disabled=noGasBound}}
    {{#if badGBUpper}}
      <span class="help-block">
        <small>{{badGBUpperMsg}}</small>
      </span>
    {{/if}}
  </div>
  <h4>Liquid Temperature Sensor</h4>
  <label class="checkbox-inline">
    {{input type="checkbox" checked=liquid.save}} Save Readings
  </label>
  <label class="checkbox-inline">
    {{input type="checkbox" checked=liquid.bound}} Use Bounds
  </label>
  <label class="checkbox-inline">
    {{input type="checkbox" checked=liquid.auto disabled=noLiquidBound}} Auto Cancel
  </label>
  <div class="form-group" {{bind-attr class="badLBLower:has-error"}}>
    <label class="control-label">Lower Bound</label>
    {{view App.NumberField value=liquid.lower class="form-control" disabled=noLiquidBound}}
    {{#if badLBLower}}
      <span class="help-block">
        <small>{{badLBLowerMsg}}</small>
      </span>
    {{/if}}
  </div>
  <div class="form-group" {{bind-attr class="badLBUpper:has-error"}}>
    <label class="control-label">Upper Bound</label>
    {{view App.NumberField value=liquid.upper class="form-control" disabled=noLiquidBound}}
    {{#if badLBUpper}}
      <span class="help-block">
        <small>{{badLBUpperMsg}}</small>
      </span>
    {{/if}}
  </div>
  <h3>Color Detection</h3>
  <label class="checkbox-inline">
    {{input type="checkbox" checked=color.bound}} Use Bounds
  </label>
  <label class="checkbox-inline">
    {{input type="checkbox" checked=color.auto disabled=noColorBound}} Auto Cancel
  </label>
  <div class="form-group" {{bind-attr class="badCBLower:has-error"}}>
    <label class="control-label">Lower Bound</label>
    {{view App.ColorInput value=color.lower class="form-control"}}
    {{#if badCBLower}}
      <span class="help-block">
        <small>{{badCBLowerMsg}}</small>
      </span>
    {{/if}}
  </div>
  <div class="form-group" {{bind-attr class="badCBUpper:has-error"}}>
    <label class="control-label">Upper Bound</label>
    {{view App.ColorInput value=color.upper class="form-control"}}
    {{#if badCBUpper}}
      <span class="help-block">
        <small>{{badCBUpperMsg}}</small>
      </span>
    {{/if}}
  </div>
  <div class="form-group">
    <div class="radio">
      <label>
        {{view App.RadioButton id="test1" value="in" name="bound-type" selectionBinding="color.boundType" disabled=noColorBound}}
        Alert upon entering bounds
      </label>
    </div>
    <div class="radio">
      <label>
        {{view App.RadioButton id="test2" value="out" name="bound-type" selectionBinding="color.boundType" disabled=noColorBound}}
        Alert upon exiting bounds
      </label>
    </div>
  </div>
</form>
{{#if responseError}}
  <div class="alert alert-danger">{{responseErrorMsg}}</div>
{{/if}}
<div id="btns">
  {{#if controllers.application.owner}}
    <button class="btn btn-success btn-lg" {{action "update"}}>Update</button>
    <button class="btn btn-danger btn-lg" {{action "stop"}}>Stop</button>
  {{else}}
    <button class="btn btn-success btn-lg" {{action "save"}} {{bind-attr disabled=controllers.application.running}}>Create</button>
    <button class="btn btn-danger btn-lg" disabled>Stop</button>
  {{/if}}
</div>