<div class="parent">
  <div class="child" id="left-col">
    <h1>{{name}}</h1>
  </div>
  <div class="child" id="right-col">
    <div class="text-right">
      {{#view App.DownloadLinkView}}
        <span class="glyphicon glyphicon-save"></span>
      {{/view}}
      <button class="btn btn-default btn-sm horz-btn" {{action "delete"}}><span class="glyphicon glyphicon-trash"></span></button>
    </div>
  </div>
</div>
<p>Started: {{format-date start}}, Stopped: {{format-date stop}}</p>
<h4>Description</h4>
<p>{{description}}</p>
{{#if cancelled}}
  <p>This experiment was cancelled</p>
{{/if}}
<h4>Sensors Settings</h4>
<p><strong>Gas Temp</strong></p>
<ul>
  <li>Readings Saved: {{yes-no gas.save}}</li>
  <li>Bound: {{yes-no gas.bound}}</li>
  <li>Auto Cancel: {{#if gas.bound}} {{yes-no gas.auto}} {{else}} N/A {{/if}}</li>
  <li>Lower: {{#if gas.bound}} {{gas.lower}} {{else}} N/A {{/if}}</li>
  <li>Upper: {{#if gas.bound}} {{gas.upper}} {{else}} N/A {{/if}}</li>
</ul>
<p><strong>Liquid Temp</strong></p>
<ul>
  <li>Readings Saved: {{yes-no liquid.save}}</li>
  <li>Bound: {{yes-no liquid.bound}}</li>
  <li>Auto Cancel: {{#if liquid.bound}} {{yes-no liquid.auto}} {{else}} N/A {{/if}}</li>
  <li>Lower: {{#if liquid.bound}} {{liquid.lower}} {{else}} N/A {{/if}}</li>
  <li>Upper: {{#if liquid.bound}} {{liquid.upper}} {{else}} N/A {{/if}}</li>
</ul>
<p><strong>Color</strong></p>
<ul>
  <li>Bound: {{yes-no color.bound}}</li>
  <li>Bound Type: {{#if color.bound}} {{expand-boundType color.boundType}} {{else}} N/A {{/if}}</li>
  <li>Auto Cancel: {{#if color.bound}} {{yes-no color.auto}} {{else}} N/A {{/if}}</li>
  <li>Lower: {{#if color.bound}} {{color.lower}} {{else}} N/A {{/if}}</li>
  <li>Upper: {{#if color.bound}} {{color.upper}} {{else}} N/A {{/if}}</li>
</ul>