<div class="parent">
  <div class="child" id="left-col">
    <h1>Archive</h1>
  </div>
  <div class="child" id="right-col">
    <div class="text-right">
      <button class="btn btn-default btn-sm pager-btn">&larr;</button>
      <button class="btn btn-default btn-sm pager-btn">&rarr;</button>
    </div>
  </div>
</div>
<h2>{{name}}</h2>
<p>Started: {{format-date start}}, Stopped: {{format-date stop}}</p>
<h4>Description</h4>
<p>{{description}}</p>