<h1>Sensor Data</h1>
{{view App.FlowplayerView}}
<div class="row">
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <button class="btn btn-primary" {{action "toggleRelay"}} {{bind-attr disabled=controllers.application.buttonDisabled}}>
      {{#if controllers.application.relay}}Relay On
      {{else}}Relay Off
      {{/if}}
    </button>
  </div>
  <div class="col-xs-6 col-sm-6 col-md-6 col-lg-6">
    <div class="text-right">
      <button class="btn btn-danger" {{action "toggleCanceller"}} {{bind-attr disabled=controllers.application.buttonDisabled}}>
        {{#if controllers.application.canceller}}Canceller On
        {{else}}Canceller Off
        {{/if}}
      </button>
    </div>
  </div>
</div>
<div class="row" id="readings">
  <div class="col-sm-6 col-md-6 col-lg-6">
    <h4>Gas Temperature (&deg;C)</h4>
    <p>{{a}}</p>
  </div>
  <div class="col-sm-6 col-md-6 col-lg-6">
    <div class="right">
      <h4>Liquid Temperature (&deg;C)</h4>
      <p>{{l}}</p>
    </div>
  </div>
</div>
{{#if controllers.application.alerted}}
  <div class="alert alert-info">Alerts sent.<button class="btn btn-default btn-xs pull-right" {{action 'resetAlerts'}}>Reset</button></div>
{{/if}}